name: Run Checks on PR

on:
  pull_request:
    branches:
      - main

env:
  CI: true
  SITE_DIR: site
  SITE_HOST: 127.0.0.1
  SITE_PORT: 8080

jobs:
  checks:
    permissions:
      checks: write
      contents: read
      pull-requests: write
      security-events: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Dependency Review
        uses: actions/dependency-review-action@v4
        with:
          config-file: >-
            ./.github/dependency-review-config.yml

      - uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --requirement requirements.ci.txt
          python -m playwright install --with-deps chromium

      - name: Build site
        run: |
          python -m mkdocs build --clean --strict --verbose --site-dir '${{ env.SITE_DIR }}'

      - name: Functional test
        run: |
          pytest --tracing=retain-on-failure

      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-traces
          path: test-results/
